*,
html {
  margin: 0px;
  padding: 0px;
}

.App {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.footer {
  background-color: #212529;
  border: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
  padding-top: 1em;
}
